@import url("https://fonts.googleapis.com/css2?family=Alegreya+Sans:wght@100;300;400;500;700;800;900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Alegreya Sans", sans-serif;
}

body {
  background: #121212;
}

#app {
  position: relative;
  width: 100vw;
  height: 100vh;
  background: #121212;
}

#chat-container {
  position: absolute;
  top: 0;
  bottom: 60px;
  width: 100%;
  overflow-y: scroll;
}

#chat-prompt {
  position: fixed;
  bottom: 0;
  width: 100%;
  background: white;
  padding: 10px;
  display: flex;
  align-items: center;
}

#chat-prompt textarea {
  width: 100%;
  padding: 10px;
  border-radius: 5px;
  border: none;
  outline: none;
}

#chat-prompt button {
  margin-left: 10px;
  padding: 10px;
  border-radius: 5px;
  background: #5436DA;
  color: white;
  font-weight: bold;
  cursor: pointer;
}
